.About{
    min-height: 60vh;
    padding-bottom: 10vh;
    
    }

.aboutGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px yellow solid; */
    /* max-width: 80%; */
    padding: 0 5% 0 5%;

}

.aboutImages{
    display: flex;
    /* width: 50%; */
    justify-content: center;
    border: 1px blue solid;
}

.containerText{
    display: flex;
    justify-content: center;
    border: 1px purple solid;
}

.aboutText{
    border: 1px red solid;
    width: 65%;
    padding: 0 5% 0 5%;
    text-align: left;
    font-size: large;
    font-weight: 450;
    /* display: flex; */
    /* align-items: flex-end; */
}



.aboutImg{
    /* display: flex; */
    /* flex-direction: column; */
    width: 25%;
    height: auto;
    /* border: 5px white solid; */
}


