.App {
  text-align: center;
	background-image: url('./images/paper_bg.png');
	background-attachment: fixed;
	background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */

}



.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  padding-top: 3%;
}